In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!git clone https://github.com/hyeshik/colab-biolab.git
!cd colab-biolab && bash tools/setup.sh
exec(open('colab-biolab/tools/activate_conda.py').read())

Cloning into 'colab-biolab'...
remote: Enumerating objects: 76, done.
remote: Counting objects: 100% (76/76), done.
remote: Compressing objects: 100% (47/47), done.
remote: Total 76 (delta 26), reused 59 (delta 15), pack-reused 0
Unpacking objects: 100% (76/76), 318.14 KiB | 5.30 MiB/s, done.
./
./root/
./root/.vimrc
./root/.bin.priority/
./root/.bin.priority/pip
./root/.bin.priority/pip2
./root/.bin.priority/pip3
./root/.tmux.conf
./root/.condarc
./root/.profile
./root/.bashrc.biolab
--2023-06-07 04:49:57--  https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
Resolving repo.anaconda.com (repo.anaconda.com)... 104.16.131.3, 104.16.130.3, 2606:4700::6810:8303, ...
Connecting to repo.anaconda.com (repo.anaconda.com)|104.16.131.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 73134376 (70M) [application/x-sh]
Saving to: ‘miniconda3.sh’

miniconda3.sh       100%[===================>]  69.75M   252MB/s    in 0.3s

2023-06-07 04:49:57 (252 MB/s) - ‘miniconda3.sh’ saved [73134376/73134376]

PREFIX=/root/conda
Unpacking payload ...

Installing base environment...


Downloading and Extracting Packages


Downloading and Extracting Packages

Preparing transaction: - \ | / done
Executing transaction: \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ done
installation finished.
WARNING:
    You currently have a PYTHONPATH environment variable set. This may cause
    unexpected behavior when running the Python interpreter in Miniconda3.
    For best results, please verify that your PYTHONPATH only points to
    directories of packages that are compatible with the Python interpreter
    in Miniconda3: /root/conda
Activated conda environment `lab'!

In [ ]:
!conda install -y bedtools bioawk samtools

In [ ]:
%cd /content/drive/MyDrive/binfo1-work/

/content/drive/MyDrive/binfo1-work

In [ ]:
!grep -i mirlet7d gencode.gtf

chr13	ENSEMBL	gene	48689488	48689590	.	-	.	gene_id "ENSMUSG00000065453.3"; gene_type "miRNA"; gene_name "Mirlet7d"; level 3; mgi_id "MGI:2676796";
chr13	ENSEMBL	transcript	48689488	48689590	.	-	.	gene_id "ENSMUSG00000065453.3"; transcript_id "ENSMUST00000083519.3"; gene_type "miRNA"; gene_name "Mirlet7d"; transcript_type "miRNA"; transcript_name "Mirlet7d-201"; level 3; transcript_support_level "NA"; mgi_id "MGI:2676796"; tag "basic";
chr13	ENSEMBL	exon	48689488	48689590	.	-	.	gene_id "ENSMUSG00000065453.3"; transcript_id "ENSMUST00000083519.3"; gene_type "miRNA"; gene_name "Mirlet7d"; transcript_type "miRNA"; transcript_name "Mirlet7d-201"; exon_number 1; exon_id "ENSMUSE00000522678.2"; level 3; transcript_support_level "NA"; mgi_id "MGI:2676796"; tag "basic";

Splicing 되지 않는 transcript이기 때문에 결과가 단조롭습니다. 해당 좌표 범위로 bam을 솎아냅니다.

In [ ]:
!samtools view -b -o CLIP-let7d.bam CLIP-35L33G.bam chr13:48689488-48689590
!samtools view CLIP-let7d.bam | wc -l

187

In [ ]:
!samtools mpileup CLIP-let7d.bam > CLIP-let7d.pileup
!wc -l CLIP-let7d.pileup

[mpileup] 1 samples in 1 input files
<mpileup> Set max per-file depth to 8000
87 CLIP-let7d.pileup

In [ ]:
!head CLIP-let7d.pileup

chr13	48689488	N	24	^Ga^Ia^Ha^Ia^Ha^Ia^Ia^Ia^Ga^Ia^Ia^Ia^Ia^Ia^Ha^Ia^Ga^Ga^Ga^Ia^Ea^Da^Ha^Ga	BIHGGIHIEIIIGIHIGEGH5BDD
chr13	48689489	N	53	aaaaaaaaaaaaaaaaaaaaaaaaa^Ia^Ha^Ia^Ga^Ga^Ha^Ia^Ia^Ga^Ga^Ia^Ia^Ha^Ia^Ia^Ha^Ha^Da^Ia^Ha^Ia^Ia^Ia^Ia^Ia^Ha^Ga^Ga	GIHIGIIIEIIIIIHIG>EB4@5HDIHIBEGIID?IIGII@H>IGHIIIGHDC
chr13	48689490	N	69	ttttttttttttttttttttttttttttttttttttttttttttttttttttt^Gt^Gt^Ht^Gt^It^It^Ht^It^Gt^Gt^Ht^It^It^It^Ht^It	GIHIGHIFFIIIIIFHGEDG;2>FDIHIDGBIIDBIIDIIAH>IBGIIIGHBG=BG=IIGIDGHFIIHI
chr13	48689491	N	105	aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa^Ia^Ia^Ha^Ga^Ia^Ga^Ia^Ga^Ha^Ha^Ha^Ga^Ia^Ha^Ha^Ia^@a^Ia^Ia^Ia^Ga^Ha^Ha^Ga^Ha^Ga^Ia^Ha^Ga^Ia^Ga^Ha^Ga^Ia^Ia^Ga	EIGHEHHIEIIIIIHIGCBH:?>HGGHI>GBIIGBIIGIHBB;IHIIIIGHDC3=G:IGGIDEHIFIGHII=GIDHEGHHEIGGI7III9=HGBAIGBIGFG>I2
chr13	48689492	N	105	aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa	GIGIEIEI7IIIGIGIG;?F:D@G7GHIAGAIIG3IIGIHDB2IHIIIIDDGC1<GCIIHIGCHIIIEIIIGCIBIEGHH?HHFI9IIIA=GGB?IEGIFEGGIA
chr13	48689493	N	105	ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg	BIEIGHGI7IHHGIGHG=?F58>E5EHIAGAHIDAHIGII:EDHHIHIIGG>>5EDAIIFFGDHIIHGIII8EIDIBBHHBIGHI7HII?=GGBEIG>HFEGGIA
chr13	48689494	N	105	ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg	FIFEGIFE3HFIGIGHG=?D1?@D5EHIAEADIBFIIGHIBD<IHDGIIGBD>03GEEIHF@DHIIIDIIHEAIDIC>HHBHFDI9FIIE=GGBAIGEFEEGIIA
chr13	48689495	N	104	cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc	GID>GHEG.HIHGH>IG2;B;?>E0BCI8G?FGA?HH@HIB?DHBIIIHGBG90BAEIEF8CEDIHGIIHGAI?I3BGH;HHHE7IIIA=GG:?IFEBF2GBI;
chr13	48689496	N	102	cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc	FI8EEGEI.GEB<ID>G38B19>BFFI<D<FGAEFIGDFB@@CH>EHH8B7>BDCEEEBBCHBGEEFHIG?I;IG@HH2EEGI9IIIA>;<@IE<E:CDIG<
chr13	48689497	N	104	cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc	DIHFBIFG.HIIFIGIB3;B993E:IGHAGDIDC3IIHDIBDHBIIIII>;58?A>IIEHBAHBHIGHIEFBI0BG<HHEEGDG.III?7H?>3IE<H8EDGG?

In [ ]:
!awk '$2 >= 48689488 && $2 <= 48689590 { print $0; }' CLIP-let7d.pileup > CLIP-let7d-gene.pileup
!tail CLIP-let7d-gene.pileup

chr13	48689565	N	6	cccccc	>IGIIH
chr13	48689566	N	6	tttttt	:IGFIH
chr13	48689567	N	6	aaaaaa	8IFIFI
chr13	48689568	N	6	cccccc	?IGIII
chr13	48689569	N	6	tttttt	;IGIII
chr13	48689570	N	5	aaaaa	EDECD
chr13	48689571	N	6	cccccc	:GGIGG
chr13	48689572	N	6	cccccc	:GGIGG
chr13	48689573	N	6	tttttt	5GGIGG
chr13	48689574	N	6	c$c$c$c$c$c$	;GGIGG

In [ ]:
import pandas as pd

pileup = pd.read_csv('CLIP-let7d-gene.pileup', sep='\t', names=['chrom', 'pos', '_ref', 'count', 'basereads', 'quals'])
pileup.tail()

    chrom       pos _ref  count     basereads   quals
82  chr13  48689570    N      5         aaaaa   EDECD
83  chr13  48689571    N      6        cccccc  :GGIGG
84  chr13  48689572    N      6        cccccc  :GGIGG
85  chr13  48689573    N      6        tttttt  5GGIGG
86  chr13  48689574    N      6  c$c$c$c$c$c$  ;GGIGG

In [ ]:
import re
toremove = re.compile('[<>$*#^]')
pileup['matches'] = pileup['basereads'].apply(lambda x: toremove.sub('', x))

In [ ]:
pileup[['chrom', 'pos', 'matches']]
# large G

    chrom       pos                                            matches
0   chr13  48689488   GaIaHaIaHaIaIaIaGaIaIaIaIaIaHaIaGaGaGaIaEaDaHaGa
1   chr13  48689489  aaaaaaaaaaaaaaaaaaaaaaaaaIaHaIaGaGaHaIaIaGaGaI...
2   chr13  48689490  tttttttttttttttttttttttttttttttttttttttttttttt...
3   chr13  48689491  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...
4   chr13  48689492  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...
..    ...       ...                                                ...
82  chr13  48689570                                              aaaaa
83  chr13  48689571                                             cccccc
84  chr13  48689572                                             cccccc
85  chr13  48689573                                             tttttt
86  chr13  48689574                                             cccccc

[87 rows x 3 columns]

In [ ]:
import math 
shannon = []
for pos in pileup['pos'].unique():
  lowercase_count = sum(pileup[pileup['pos'] == pos]['matches'].str.count('[a-z]'))
  lowercase_count_a = sum(pileup[pileup['pos'] == pos]['matches'].str.count('a'))
  lowercase_count_c = sum(pileup[pileup['pos'] == pos]['matches'].str.count('c'))
  lowercase_count_g = sum(pileup[pileup['pos'] == pos]['matches'].str.count('g'))
  lowercase_count_t = sum(pileup[pileup['pos'] == pos]['matches'].str.count('t'))
  a_prob = lowercase_count_a/lowercase_count
  c_prob = lowercase_count_c/lowercase_count
  g_prob = lowercase_count_g/lowercase_count
  t_prob = lowercase_count_t/lowercase_count
  prob = [a_prob, c_prob, g_prob, t_prob]
  shannon.append(sum([-base_prob*math.log2(base_prob) for base_prob in prob if base_prob != 0]))

In [ ]:
shannon

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.04915669755001399,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.04805200605825788,
 0.0,
 0.0,
 0.0,
 0.0,
 0.048268648766538136,
 0.0,
 0.16561163057859057,
 0.851251114226689,
 1.4508813935264038,
 0.0,
 0.05104301664669756,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.07701687574298335,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [ ]:
import pandas as pd

# Create a new dataframe with 'chrom', 'pos', and 'end' columns
bedgraph = pd.DataFrame({'chrom': pileup['chrom'], 'pos': pileup['pos']-1, 'end': pileup['pos']})

# Add the 'shannon' column from the 'shannon' list
bedgraph['shannon'] = shannon

bedgraph

    chrom       pos       end  shannon
0   chr13  48689487  48689488      0.0
1   chr13  48689488  48689489      0.0
2   chr13  48689489  48689490      0.0
3   chr13  48689490  48689491      0.0
4   chr13  48689491  48689492      0.0
..    ...       ...       ...      ...
82  chr13  48689569  48689570      0.0
83  chr13  48689570  48689571      0.0
84  chr13  48689571  48689572      0.0
85  chr13  48689572  48689573      0.0
86  chr13  48689573  48689574      0.0

[87 rows x 4 columns]

In [ ]:
# Assuming your dataframe is named 'bedgraph_df'
# header_lines = 'track type=bedGraph name=track_label description=center_label visibility=display_mode color=200,100,0 altColor=0,100,200 priority=20 autoScale=on alwaysZero=on|off gridDefault=on|off maxHeightPixels=max:default:min graphType=bar|points viewLimits=lower:upper yLineMark=real-value yLineOnOff=on|off windowingFunction=maximum|mean|minimum smoothingWindow=off|2-16'
header_lines = 'track type=bedGraph name=mirlet7d description=mirlet7d visibility=full color=200,100,0 altColor=0,100,200 priority=20' 
# Save the dataframe as a bedGraph file
with open('final_let7d.bedgraph', 'w') as file:
    file.write(header_lines + '\n')
    bedgraph.to_csv(file, sep='\t', header=False, index=False)

In [ ]:
!samtools sort CLIP-let7d.bam -o CLIP-let7d.sorted.bam
!samtools index CLIP-let7d.sorted.bam

In [ ]:
bedgraph

    chrom       pos       end  shannon
0   chr13  48689487  48689488      0.0
1   chr13  48689488  48689489      0.0
2   chr13  48689489  48689490      0.0
3   chr13  48689490  48689491      0.0
4   chr13  48689491  48689492      0.0
..    ...       ...       ...      ...
82  chr13  48689569  48689570      0.0
83  chr13  48689570  48689571      0.0
84  chr13  48689571  48689572      0.0
85  chr13  48689572  48689573      0.0
86  chr13  48689573  48689574      0.0

[87 rows x 4 columns]

In [ ]:
pileup

,chrom,pos,_ref,count,basereads,quals,matches
0,chr13,48689488,N,24,^Ga^Ia^Ha^Ia^Ha^Ia^Ia^Ia^Ga^Ia^Ia^Ia^Ia^Ia^Ha^...,BIHGGIHIEIIIGIHIGEGH5BDD,GaIaHaIaHaIaIaIaGaIaIaIaIaIaHaIaGaGaGaIaEaDaHaGa
1,chr13,48689489,N,53,aaaaaaaaaaaaaaaaaaaaaaaaa^Ia^Ha^Ia^Ga^Ga^Ha^Ia...,GIHIGIIIEIIIIIHIG>EB4@5HDIHIBEGIID?IIGII@H>IGH...,aaaaaaaaaaaaaaaaaaaaaaaaaIaHaIaGaGaHaIaIaGaGaI...
2,chr13,48689490,N,69,tttttttttttttttttttttttttttttttttttttttttttttt...,GIHIGHIFFIIIIIFHGEDG;2>FDIHIDGBIIDBIIDIIAH>IBG...,tttttttttttttttttttttttttttttttttttttttttttttt...
3,chr13,48689491,N,105,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,EIGHEHHIEIIIIIHIGCBH:?>HGGHI>GBIIGBIIGIHBB;IHI...,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...
4,chr13,48689492,N,105,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,GIGIEIEI7IIIGIGIG;?F:D@G7GHIAGAIIG3IIGIHDB2IHI...,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...
...,...,...,...,...,...,...,...
82,chr13,48689570,N,5,aaaaa,EDECD,aaaaa
83,chr13,48689571,N,6,cccccc,:GGIGG,cccccc
84,chr13,48689572,N,6,cccccc,:GGIGG,cccccc
85,chr13,48689573,N,6,tttttt,5GGIGG,tttttt
86,chr13,48689574,N,6,c$c$c$c$c$c$,;GGIGG,cccccc

In [ ]:
!samtools sort CLIP-let7d.bam > CLIP-let7d.sorted.bam
!samtools index CLIP-let7d.sorted.bam

In [ ]:
!samtools view -H CLIP-let7d.sorted.bam

@HD	VN:1.0	SO:coordinate
@PG	ID:GSNAP	PN:gsnap	VN:2021-03-08	CL:gsnap.avx2 -D refs/GRCm39.gmap -d GRCm39 -c gencode --gunzip -t 20 --force-single-end -A sam -m 0.1 clipped/CLIP-35L33G.fastq.gz
@SQ	SN:chr1	LN:195154279
@SQ	SN:chr2	LN:181755017
@SQ	SN:chr3	LN:159745316
@SQ	SN:chr4	LN:156860686
@SQ	SN:chr5	LN:151758149
@SQ	SN:chr6	LN:149588044
@SQ	SN:chr7	LN:144995196
@SQ	SN:chr8	LN:130127694
@SQ	SN:chr9	LN:124359700
@SQ	SN:chr10	LN:130530862
@SQ	SN:chr11	LN:121973369
@SQ	SN:chr12	LN:120092757
@SQ	SN:chr13	LN:120883175
@SQ	SN:chr14	LN:125139656
@SQ	SN:chr15	LN:104073951
@SQ	SN:chr16	LN:98008968
@SQ	SN:chr17	LN:95294699
@SQ	SN:chr18	LN:90720763
@SQ	SN:chr19	LN:61420004
@SQ	SN:chrX	LN:169476592
@SQ	SN:chrY	LN:91455967
@SQ	SN:chrM	LN:16299
@SQ	SN:GL456210.1	LN:169725
@SQ	SN:GL456211.1	LN:241735
@SQ	SN:GL456212.1	LN:153618
@SQ	SN:GL456219.1	LN:175968
@SQ	SN:GL456221.1	LN:206961
@SQ	SN:GL456233.2	LN:559103
@SQ	SN:GL456239.1	LN:40056
@SQ	SN:GL456354.1	LN:195993
@SQ	SN:GL456359.1	LN:22974
@SQ	SN:GL456360.1	LN:31704
@SQ	SN:GL456366.1	LN:47073
@SQ	SN:GL456367.1	LN:42057
@SQ	SN:GL456368.1	LN:20208
@SQ	SN:GL456370.1	LN:26764
@SQ	SN:GL456372.1	LN:28664
@SQ	SN:GL456378.1	LN:31602
@SQ	SN:GL456379.1	LN:72385
@SQ	SN:GL456381.1	LN:25871
@SQ	SN:GL456382.1	LN:23158
@SQ	SN:GL456383.1	LN:38659
@SQ	SN:GL456385.1	LN:35240
@SQ	SN:GL456387.1	LN:24685
@SQ	SN:GL456389.1	LN:28772
@SQ	SN:GL456390.1	LN:24668
@SQ	SN:GL456392.1	LN:23629
@SQ	SN:GL456394.1	LN:24323
@SQ	SN:GL456396.1	LN:21240
@SQ	SN:JH584295.1	LN:1976
@SQ	SN:JH584296.1	LN:199368
@SQ	SN:JH584297.1	LN:205776
@SQ	SN:JH584298.1	LN:184189
@SQ	SN:JH584299.1	LN:953012
@SQ	SN:JH584300.1	LN:182347
@SQ	SN:JH584301.1	LN:259875
@SQ	SN:JH584302.1	LN:155838
@SQ	SN:JH584303.1	LN:158099
@SQ	SN:JH584304.1	LN:114452
@SQ	SN:MU069434.1	LN:8412
@SQ	SN:MU069435.1	LN:31129

In [ ]:
!samtools view -H gencode.gtf